<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <script>  document.write(new Date().getFullYear()) </script> © LIVE-TIKTOK - Get Your Cuan From TikTok
      </div>
      <div class="col-sm-6">
        <div class="text-sm-end d-none d-sm-block"><a href="https://febriansyah.dev" target="_blank">
          https://febriansyah.dev
        </a></div>
      </div>
    </div>
  </div>
</footer>