<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <script>  document.write(new Date().getFullYear()) </script> © CMMS - Computerized Maintenance Management System
      </div>
      <div class="col-sm-6">
        <div class="text-sm-end d-none d-sm-block">
          Maintenance Dept - Musashi Auto Parts Indonesia, PT
        </div>
      </div>
    </div>
  </div>
</footer>