<!-- ========== App Menu ========== -->
<div class="app-menu navbar-menu">
  <!-- LOGO -->
  <div class="navbar-brand-box">
    <!-- Dark Logo-->
    <a href="../../../dashboard" class="logo logo-dark">
      <span class="logo-sm">
        <img src="/velzon/icons/logo.png" alt="" height="22">
      </span>
      <span class="logo-lg">
        <img src="/velzon/icons/logo.png" alt="" height="17">
      </span>
    </a>
    <!-- Light Logo-->
    <a href="../../../dashboard" class="logo logo-light">
      <span class="logo-sm">
        <img src="/velzon/icons/logo.png" alt="" height="22">
      </span>
      <span class="logo-lg">
        <img src="/velzon/icons/logo.png" alt="" height="17">
      </span>
    </a>
    <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
      <i class="ri-record-circle-line"></i>
    </button>
  </div>

  <div id="scrollbar">
    <div class="container-fluid">

      <div id="two-column-menu">
      </div>
      <ul class="navbar-nav" id="navbar-nav">
        <li class="menu-title"><span data-key="t-menu">Menu</span></li>
        <li class="nav-item">
          <a class="nav-link menu-link" href="/dashboard" id="dashboard_menu">
            <i class="ri-home-smile-2-fill"></i> <span data-key="t-widgets">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link menu-link" href="/user" id="user_menu">
            <i class="ri-contacts-line"></i> <span data-key="t-widgets">User</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link menu-link" href="/gift" id="gift_menu">
            <i class="bx bx-gift"></i> <span data-key="t-widgets">Gift</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link menu-link" href="/live" id="live_menu">
            <i class="bx bx-video-recording"></i> <span data-key="t-widgets">Live</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link menu-link" href="/api-doc" target="_blank" id="api_doc_menu">
            <i class="ri-profile-line"></i> <span data-key="t-widgets">Api Doc</span>
          </a>
        </li>

      </ul>
    </div>
    <!-- Sidebar -->
  </div>
</div>
<!--end back-to-top-->
<!-- Left Sidebar End -->
<!-- Vertical Overlay-->
<div class="vertical-overlay"></div>