{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "COLLECT-DATA",
    "contact": {}
  },
  "host": "live-tiktok.febriansyah.dev",
  "basePath": "/api",
  "securityDefinitions": {},
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/access": {
      "post": {
        "summary": "VALIDASI LICENSE",
        "tags": [
          "Misc"
        ],
        "operationId": "VALIDASILICENSE",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/VALIDASILICENSEREQUEST"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    },
    "/set-username": {
      "post": {
        "summary": "SET USER LIVE",
        "tags": [
          "Misc"
        ],
        "operationId": "SETUSERLIVE",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/SETUSERLIVEREQUEST"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    }
  },
  "definitions": {
    "VALIDASILICENSEREQUEST": {
      "title": "VALIDASILICENSEREQUEST",
      "example": {
        "license": "your-licencse"
      },
      "type": "object",
      "properties": {
        "license": {
          "type": "string"
        }
      },
      "required": [
        "license"
      ]
    },
    "SETUSERLIVEREQUEST": {
      "title": "SETUSERLIVEREQUEST",
      "example": {
        "license": "your-licencse",
        "username": "upfollowers.gacor"
      },
      "type": "object",
      "properties": {
        "license": {
          "type": "string"
        },
        "username": {
          "type": "string"
        }
      },
      "required": [
        "license",
        "username"
      ]
    }
  },
  "tags": [
    {
      "name": "Misc",
      "description": ""
    }
  ]
}